@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(189, 189, 189);
    width: 250px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
.sidebar nav{
    padding: 50px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 30px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 85vw;
}
.container{
    display: flex;
}
.info{
    margin: 140px auto;
    /* background-color: blue; */
    height: 60vh;
    width: 75vw;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro', monospace;
}
.divinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devpic img{
    height: 60vh;
}
.hello{
    font-size: 50px;
}
.name{
    font-size: 41px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 25px;
}
.moreabout{
    margin-top: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}
.buttons{
    margin-top: 30px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 25px;
    color: white;
    background-color: cadetblue;
    font-size: 12px;
    margin: 0px 3px;
    font-weight: bold;
    cursor: pointer;
}

.buttons button:hover{
    background-color: white;
    color: cadetblue;
}

/* contact.html */
.contactform{
    font-family: 'Fira Sans', sans-serif;
    
    padding: 80px 50px;
}
.contactform h1{
    /* text-align: center; */
    margin: 30px 0px;
    padding: 15px;
    font-family: 'Source Code Pro', monospace;
}
.mb-3{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    
}
.form-text{
    font-size: 9px;
    margin: 3px 17px;
}
.form-control{
    width:30vw;
}
.form-check-input{
    cursor: pointer;
}
.btn-btn-primary{
    cursor: pointer;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    background-color: cadetblue;
    width: 67px;
    height: 30px;
}
.btn-btn-primary:hover{
    background-color: white;
    color: cadetblue;
}

/* introduction */
.introc h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 25px;
}
.introc p{
    font-family: 'Source Code Pro', monospace;
}
.introc h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 25px;
}
.skillcontainer{
    /* display: flex; */
       
       padding: 2px 23px;
}
.skillitem{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.skill{
    background-color:red ;
    width: 100px;
    height: 6px;
    border: 2px solid black;
}
.hundred{
    width: 265px;
    background-color:red ;
}
.fifty{
    width: 125px;
    background-color:rgb(198, 103, 103) ;
}
.twenty-five{
    width: 75px;
    background-color:rgb(226, 186, 186) ;
}
@media (max-width: 440px) {
    /* *{background-color: red;} */
    .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }
  }